<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style>
		#particles-js{
			height: 100%; background-color: blue;
		}
	</style>
</head>
<body >

<div id="particles-js" style="height: 100%; background-color: blue;
"></div>


<script type="text/javascript" src="C:\Users\Jayaseelan\Desktop\fsda\code\project\home\templates\particles.js"></script>
<script type="text/javascript" src="C:\Users\Jayaseelan\Desktop\fsda\code\project\home\templates\particles.min.js"></script>
<script type="text/javascript" src="C:\Users\Jayaseelan\Desktop\fsda\code\project\home\templates\app.js"></script>
</body>
</html>