<!DOCTYPE html>
<html>
<head>
	
	<title>Real Estate</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/journal/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">



</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    		<a class="navbar-brand" href="/">Real Estate</a>
  				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="float: right;">
    				<span class="navbar-toggler-icon"></span>
  				</button>

  		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="float: right;">
    		<ul class="navbar-nav mr-auto" style="float: right;">
     			<li  {% if category_list_home %} class="nav-item active" {% endif %} style="float: right;">
        			<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      			</li>
      			<li  {% if property_list %} class="nav-item active" {% endif %}>
        			<a class="nav-link" href="{% url 'property:property_list' %}">Properties</a>
      			</li>
      			<li  {% if agent_list %} class="nav-item active" {% endif %}>
        			<a class="nav-link" href="{% url 'agents:agents_list' %}">Agents</a>
      			</li>
      			<li  {% if about %} class="nav-item active" {% endif %}>
        			<a class="nav-link" href="{% url 'about:aboutus' %}">About<span class="sr-only">(current)</span></a>
      			</li>
      			<li  {% if contactdetails %} class="nav-item active" {% endif %}>
        			<a class="nav-link" href="{% url 'contact:send_mail' %}">Contact us<span class="sr-only">(current)</span></a>
      			</li>
    		</ul>

  		</div>
		</nav>
	

{% block body %} 	
{% endblock  %}
	
</div>
</body>
</html>
