{%  extends 'property/base.html' %}
{% block body %}
<br>

<center>
	<h3><u>About Us</u></h3>
	
	<h5><u>Our Vission </u></h5><br>
</center>
<p>Launched in 2005, realestate.com, India’s No. 1 property portal, deals with every aspect of the consumers’ needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively. Atrealestate.com, you can advertise a property, search for a property, browse through properties, build your own property micro site, and keep yourself updated with the latest news and trends making headlines in the realty sector.</p>
<br><hr><center><h5><u>Our Mission</u></h5></center>
<p>At present, realestate.com prides itself for having around nine lakh property listings spanning across 600+ cities in India. Of all, the website held over 5.7 lakh paid listings at the end of FY 2018-19. In addition to providing an online platform to real estate developers, brokers and property owners for listing their property for sale, purchase or rent, realestate.com offers advertisement stints such as micro sites, banners, home page links and project pages to the clients for better visibility and branding in the market.

With the ever-evolving online search behavior, realestate.com shares updated information pertinent to real estate activities, assisting prospective buyers to make informed buying decision. We make online property search easier, quicker and smarter!</p><br><hr>

<center>
	<center><h5><u>Our Gallery</u></h5></center>
	<img src="{{about.image.url}}" style="  max-width: 900px; max-height: 70%; border:1px solid black;">
</center>
{% endblock %}